data/
Strategies/
util/
utils.py
**/__pycache__
**/__pycache__/
**/__pycache__/*
**/*.pyc
.vscode/
*.csv
Ideas/
backup/
test.py
*.ipynb
**/*.zip
archivedData/
build/
# dist/
**/*.txt
**/rework_backtrader.egg-info/
playground/
test_event_maker.py
test_server.py
.vscode/
HFT_execution.py
Lam_execution.py
.ipynb_checkpoints/
results/
requirement.txt
executions/
tools/
*.json
Results/
.env
!cookies.json
!vietstock_bodies.json
!vietstock_cookies.json
!vietstock_cookies.json
!fiintrade_headers.json